<script src="js/authcache.js"></script>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-header"><b>Authorization Cache List</b></div>
          <div class="card-body">
            <table id="tableSysLog" class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                    <tr>
                      <th class="th-sm">ID TAG</th>
                      <th class="th-sm">PARENTID</th>
                      <th class="th-sm">STATUS</th>
                      <th class="th-sm">EXPRIED</th>                      
                    </tr>
                  </thead>
              <tbody>              
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>      
  <!-- /.row-->
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border-danger">
      <div class="card-header"><b>Clear Authorization Cache</b></div>
      <div class="card-body">
        <button class="btn btn-danger btn-block" type="button" id="btClearCache">Clear Authorization Cache !</button>
        <p></p>
        <p><h6>* Warning: All Cache will be erased.</h6></p>
      </div>
    </div>
  </div>
</div>