<script src="js/status.js"></script>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header"><b>Charger Infomation</b></div>
          <div class="card-body">
            <table class="table table-responsive-sm table-striped">
              <tbody>
                <tr>
                    <td style="width:40%">Model</td>
                    <td style="width:60%"><span id="model_name"></span></td>
                </tr>
                <tr>
                  <td>Software Version</td>
                  <td><span id="sw_ver"></span></td>
                </tr>
                <tr>
                  <td>Control Board Version</td>
                  <td><span id="dsp_ver"></span></td>
                </tr>                                    
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <i class="fa"></i><b>Charger Status</b></div>
                <div class="card-body">
                  <table class="table table-responsive-sm table-striped">
                  <tbody>
                      <tr>
                          <td style="width:40%">Server Address</td>
                          <td style="width:60%"><span id="cs_svr"></span></td>
                        </tr>
                    <tr>
                      <td>Charger ID</td>
                      <td><span id="cs_id"></span></td>
                    </tr>
                    <tr>
                      <td>Connection Status</td>
                      <td><span id="cs_comm"></span></td>
                    </tr>
                    <tr>
                      <td>Connector Status</td>
                      <td><span id="cs_connector"></span></td>
                    </tr>                
                  </tbody>
                </table>
              </div>          
            </div>              
          </div>
      </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa"></i><b>Network Status</b>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-striped">
          <tbody>
              <tr>
                  <td style="width:40%">Network Type</td>
                  <td style="width:60%"><span id="net_type"></span></td>
                </tr>
            <tr>
              <td>IP Address</td>
              <td><span id="net_ip"></span></td>
            </tr>
            <tr>
              <td>Netmask</td>
              <td><span id="net_mask"></span></td>
            </tr>
            <tr>
              <td>Gateway</td>
              <td><span id="net_gw"></span></td>
            </tr>
            <tr>
              <td>DNS</td>
              <td><span id="net_dns"></span></td>
            </tr>            
          </tbody>
          </table>
        </div>          
      </div>              
    </div>
    <!-- /.col-->
  </div>

  <!-- /.row-->
</div>

